server {
    listen 80;

    server_name testobjects.cedexis.localhost;

    location /r16 {
        alias /home/jacob/repos/cedexis/testobjects/r16;

        types {
            application/javascript js;
        }
    }

    location /r16/large {
        alias /home/jacob/repos/cedexis/testobjects/r16/large;

        types {
            "application/javascript; charset=utf-8" js;
        }

        gzip_static on;
    }
}
